/backend/HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

#mac-os
**/*.DS_Store

### UI ###
/ui/node_modules
/ui/.vercel
/ui/build
/ui/.svelte-kit
/ui/package
/ui/.env
/ui/.env.*
!.env.example
/ui/vite.config.js.timestamp-*
/ui/vite.config.ts.timestamp-*