services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27018:27017"
    volumes:
      - mongodb_data:/data/db

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "127.0.0.1:6380:6379"
    volumes:
      - redis_data:/data

volumes:
  mongodb_data:
  redis_data:
