@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes erase {
    0% {
        width: 100%;
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        width: 0;
        opacity: 0;
    }
}

.erase-effect {
    animation: erase 1s ease-in-out forwards;
}