spring:

  data:
    mongodb:
      uri: mongodb://localhost:27018/db
      database: db
    redis:
      host: localhost
      port: 6380
      username:
      password:

  cache:
    type: redis

  mail:
    host: smtp.gmail.com # your mail host
    port: 587 # your mail port
    username: # your mail name
    password: # your mail password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  tokenName: "accessToken"
  secret: 5CE74751FAF5ED2877C51A93021368E0FD3C954444CF1F7136720388EE100998 # random 1 - 256 hex characters
  exp: 86400 # 24 hours

rt:
  tokenName: "refreshToken"
  secret: FFB8EA10274A8B65C913736BD9A4CD56200079ADBBD66865C72EF3D17C7E80B6 # random 1 - 256 hex characters
  exp: 2592000 # 30 days

allowed:
  host:  localhost:8080

beaudelaire:
  uploadKey: yesso

openai:
  apiKey: test-api-key
  modelName: gpt-3.5-turbo

cookie:
  secure: false
  httpOnly: true

app:
  init-db: true
  seed-dir: backend/src/main/resources/seeds

server:
  port: 8080
  forward-headers-strategy: native
  max-http-header-size: 64KB
  compression:
    enabled: true
    min-response-size: 2KB
    mime-types: application/json
