spring:

  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: db
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      username: ${REDIS_USERNAME:}
      password: ${REDIS_PASSWORD:}

  profiles:
    active: default

  cache:
    type: redis

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

jwt:
  tokenName: "accessToken"
  secret: ${JWT_SECRET}
  exp: ${JWT_EXP:86400} # 24 hours default

rt:
  tokenName: "refreshToken"
  secret: ${REFRESH_SECRET}
  exp: ${REFRESH_EXP:2592000} # 30 days default

openai:
  apiKey: ${AI_APIKEY}
  modelName: ${AI_MODELNAME}

cookie:
  secure: true
  httpOnly: true

beaudelaire:
  uploadKey: ${UPLOAD_KEY}

allowed:
  host:  ${ALLOWED_HOST}

server:
  port: 8080
  forward-headers-strategy: native
  compression:
    enabled: true
    min-response-size: 2KB
    mime-types: application/json

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus
  metrics:
    tags:
      application: concordia-courses
  prometheus:
    metrics:
      export:
        enabled: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
