<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 20px; background-color: #F4F4F4; color: #333;">
<div style="max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
    <p style="font-size: 24px; margin-bottom: 20px; color: #333;">Hello, <strong style="font-weight: bold;" th:text="${name}">[Name]</strong></p>
    <p style="font-size: 16px; line-height: 1.5; color: #555;">This is a confirmation that your concordia.courses password has been changed.</p>
    <p style="font-size: 16px; line-height: 1.5; color: #555;">If you did not change your password, you should perform a password reset at <br/>
        <a href="#" th:href="@{'https://concordia-courses.vercel.app/login'}">https://concordia.courses/login</a>
    </p>
</div>
</body>
</html>